 /* .class1
{
right: 500px;
 padding: 10px 20px;
margin: 15px 20px 10px 600px;
font-size: 200%;
} 
button{
    color:aliceblue;
    background-color:#24445b;
    padding: 5px 5px;
    margin: 15px 20px 10px 678px;
    cursor: pointer;
     border-radius: 3px;  
    
}
input[type=text]
{
border-radius: 3px;
font-size: 100%;
padding: 10px 20px;
margin: 1px 20px 10px 600px;
}

.namec
{
    font-size: 130%;
    padding: 10px 0px;
    margin: 1px 10px 1px 500px;
    text-align: center;
}
.cc_handle {
    font-size: 110%;
    padding: 10px 0px;
    margin: 1px 20px 10px 600px;
    text-align: center;
}
.cf_handle {
    font-size: 110%;
    padding: 10px 0px;
    margin: 1px 20px 10px 600px;
    text-align: center;
}
.hackerearth_handle {
    font-size: 110%;
    padding: 10px 0px;
    margin: 1px 20px 10px 600px;
    text-align: center;
}
.cc_stars {
    font-size: 110%;
    padding: 10px 0px;
    margin: 1px 20px 10px 600px;
    text-align: center;
}
.left {
    top: 20%;
    position: absolute;
    left: 200px;
    width: 300px;
    height: 300px;
    padding: 10px 10px;
    margin: 10px 50px 10px 60px;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border-radius: 8%;
}
.right
{
    position: absolute;
    right:600px;
}
.wrapper
{
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08)
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    box-sizing: border-box;
    font-family: "Poppins";
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 98vw;
    padding:0px 100px;
    height: 97vh;
    justify-content: space-around;
    align-items: center;
}
.left{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 3px 3px 14px -1px rgba(0, 0, 0, 0.75);
     padding: 40px;
}
.right{
    width: 50vw;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    box-shadow: 3px 3px 14px -1px rgba(0, 0, 0, 0.75);
    padding: 40px;
}
.class1 {
    margin-left: 30%;
    margin-bottom: 50px;
    /* margin-top: -200px; */
    padding: 10px 20px;
    font-size: 200%;

}
input[type=text] {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 100%;
    padding: 10px 20px;
    width: 250px;
}



#my_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
.submit-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.submit-btn:hover{
    transform: scale(1.1,1.1);
    color: blue;
}